<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674042372204-c6tpma854fgt2s6m7cq3cu8s6fpv0vol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674042372204-c6tpma854fgt2s6m7cq3cu8s6fpv0vol</string>
	<key>API_KEY</key>
	<string>AIzaSyCqIHLJWm9yLIlkCnaezYtp6jTc47RRH0M</string>
	<key>GCM_SENDER_ID</key>
	<string>674042372204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SaniaCodes.SpatialXV2</string>
	<key>PROJECT_ID</key>
	<string>spatialxv2</string>
	<key>STORAGE_BUCKET</key>
	<string>spatialxv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674042372204:ios:01a27745b8848cb2ddf849</string>
</dict>
</plist>